[Unit]
Description=Restore firewall IP sets before UFW
DefaultDependencies=no
Wants=network-pre.target
Before=network-pre.target ufw.service
ConditionPathExists={{ firewall_ipset_state_file }}

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ipset restore -exist -file {{ firewall_ipset_state_file }}

[Install]
WantedBy=ufw.service